.company {
  .company_full_name {
    color: rgb(62, 66, 79);
    padding-bottom: 7px;
    font-size: 14px !important;
  }

  .copy_checkbox {
    font-size: 14px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #3E424F;
  }
}
